/*
#8AAB28  dirty green
#CAFE2D light green
#87FC7E funny green
#84B6FF sky blue
#455AFF bright blue
*/

.frame {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

    /*background: #87FC7E ;*/
    margin: 25px;
    width: 500px;

    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 5px 5px grey;
}

h1 {
    color: aliceblue;
    text-align: center;
}

.container {
    color: honeydew;
    font-weight: 600;
    line-height: 1px;
    padding: 20px;
}

.item-line {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 15px;
}

#btn{
    width: 60px;
}

span {
    display: inline-block;
    width: 150px;
    padding: 10px;
}
.wrapper{
    text-align: center;
    padding: 15px;
}
